/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  background: navy;
  color: antiquewhite;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-history-button {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
  background-color: aquamarine;
  padding: 10px;
}

.current-weather-condition {
  display: flex;
  padding: 10px;
  color: brown;
}

.future-weather-condition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  font-size: x-large;
  list-style: none;
  padding: 10px;
  margin: 10px;
}
  
.future-weather-condition header {
  padding: 20px 10px;
  justify-content: space-between;
  list-style: none;
}
  
.current-weather-condition ul {
  list-style: none;
  border: 10px solid magenta;
  font-size: x-large;
  padding: 10px;
  margin: 10px;
}

.future-weather-condition ul {
  list-style: none;
  border: 10px solid gray;
  font-size: large;
  padding: 5px;
  margin: 5px;
}

/* Apply media queries screen styles for screens smaller than 768px */

@media screen and (max-width: 767px) {

  .col-5 {
    width: 100%;
    background-color: lightcoral;
  }

  .col-12 {
    width: 100%;
    background-color: lightcoral;
  }
}

/* Styles for screens between 768px and 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .col-md-3 {
    width: 100%;
    background-color: lightgoldenrodyellow;
  }

  .col-md-9 {
    width: 100%;
    background-color: lightgoldenrodyellow;
  }
}

  